global:
  scrape_interval: 5s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]

  - job_name: "pushgateway"
    honor_labels: true
    static_configs:
      - targets: ["pushgateway:9091"]

  - job_name: "recac"
    scrape_interval: 1s
    metrics_path: /metrics
    static_configs:
      - targets: ["host.docker.internal:2112"]
