name: RECAC CI

on:
  push:
    branches: ["**"]
  pull_request:
    branches: ["**"]

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build and Cache Docker Image
        run: make image

      - name: Lint
        run: make lint

      - name: Test
        run: make test

      - name: Build
        run: make build

      - name: Check Artifact
        run: ls -lh recac

      - name: Smoke Test
        run: make smoke
